@using WinUiApp.Data.Data
@model User

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwoFASecret" class="control-label"></label>
                <input asp-for="TwoFASecret" class="form-control" />
                <span asp-validation-for="TwoFASecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDeletedReviews" class="control-label"></label>
                <input asp-for="NumberOfDeletedReviews" class="form-control" />
                <span asp-validation-for="NumberOfDeletedReviews" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasSubmittedAppeal" /> @Html.DisplayNameFor(model => model.HasSubmittedAppeal)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AssignedRole" class="control-label"></label>
                <select asp-for="AssignedRole" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="AssignedRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
