<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		
      IMPORTANT:
      Everyone must create and work on DrinkDB_Dev database.
      Replace Server=(localdb)\ProjectModels with:
        - Local SQL Server: localhost\SQLEXPRESS or your instance name
        - Docker SQL Server: localhost,1433 (or your exposed port)
    
		<add name="DrinkDbConnection"
			 connectionString="Data Source=KYLIAN-MBAPPÉ-P;Initial Catalog=DrinkDB_Dev;Integrated Security=True;Trust Server Certificate=True""
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
-->
	<appSettings>
		<!-- Google OAuth credentials -->
		<add key="GoogleClientId" value="311954949107-k5agbsvuvrsuttupcu7av2lceuk4vlag.apps.googleusercontent.com" />
		<add key="GoogleClientSecret" value="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" />
		<add key="GoogleRedirectUniformResourceIdentifier" value="urn:ietf:wg:oauth:2.0:oob" />
		<add key="GoogleAuthorizationEndpoint" value="https://accounts.google.com/o/oauth2/v2/auth" />
		<add key="GoogleTokenEndpoint" value="https://oauth2.googleapis.com/token" />
		<add key="GoogleUserInfoEndpoint" value="https://www.googleapis.com/oauth2/v3/userinfo" />

		<!-- Twitter OAuth credentials -->
		<add key="TwitterClientId" value="ODVNN2VYRGR4ZWNfcm9LQnlzS2Q6MTpjaQ" />
		<add key="TwitterClientSecret" value="B7eMoprWDmTGzsYz-3kK8Hsqpc5oJ4i4Gt9tjqtFb73J5dBQyz" />

		<!-- GitHub OAuth credentials -->
		<add key="GitHubClientId" value="Ov23liTNxys03qJSAd4A" />
		<add key="GitHubClientSecret" value="9397ff9ab802e3b30a7ffb4f4d9b3c5d45940349" />
		<add key="GitHubAuthorizationEndpoint" value="https://github.com/login/oauth/authorize" />
		<add key="GitHubTokenEndpoint" value="https://github.com/login/oauth/access_token" />
		<add key="GitHubUserInfoEndpoint" value="https://api.github.com/user" />
	</appSettings>
</configuration>
